<!DOCTYPE html>
<html lang="ko">
<head>
    {% include head.html %}
</head>
<body>

<div class="container">
    {% include header.html %}
</div>

<main role="main" class="container">
    {{ content }}
</main>

<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<div class="back-to-top">
    <a href="#top" data-scroll>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</div>

{% include head_2.html %}
</body>
</html>

