<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

<body class="theme-base-08">

{% include sidebar.html %}

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<div class="wrap">
    <div class="masthead">
        <div class="container">
            <h3 class="masthead-title">
                <a href="{{ site.url }}/" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </div>
    </div>

    <div class="container content">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- github-blog-post -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3410438928390613"
             data-ad-slot="6748779633"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        {{ content }}
    </div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
    (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
            var target = e.target;

            if(!checkbox.checked ||
                sidebar.contains(target) ||
                (target === checkbox || target === toggle)) return;

            checkbox.checked = false;
        }, false);
    })(document);
</script>
</body>
</html>
